<div class="container  boxAdd hbarwrap">

    <div class="trail box">
        <h1 class="title is-1" id="title" data-id="{{id}}">{{name}}</h1>

        <p class="trailDetails is-small">Location: {{city}}, {{state}}</br>
            Address: {{address}} </br>
            Added By: {{User.name}} </br>
            <p class="trailDescription">{{description}}</p>
            <button id="reviewButton" class="button is-primary">Add Review</button>

    </div>


    <form id="newReview" class="box">
        <div class="field">
            <label class="label" for="title">Title</label>
            <div class="control">
                <input class="input" type="text" name="title" placeholder="Title" required />
            </div>
        </div>

        <div class="field">
            <label class="label" for="revnew">Comments / Review</label>
            <div class="control">
                <textarea class="textarea" type="textarea" name="review"
                    placeholder="Drop in you comments or review or upload super cool photos" /></textarea>
            </div>
        </div>

        <div class="field">
            <label class="label" for="photo">Photo</label>
            <div class="control">
                <span id="imageRemove">X</span>
                <input class="input" name="photo" type="file" />
            </div>
        </div>

        <div class="control">
            <button id="addReview" type="submit" class="button is-primary">Drop it In</button>
        </div>
    </form>

    <h2 class="title is-2 reviewHead button">Reviews</h2>
    {{#each Reviews}}
    <div class="user-review box">

        <h3 class="title is-3">{{title}}</h3>
        <h3 class="subtitle is-6">by: {{User.name}}</h3>
        {{#each Media}}
        <img src="{{url}}" class="reviewImage" />
        {{/each}}
        <h3 class="revieText">{{review}}</h3>
    </div>

    {{/each}}
    {{Reviews.Media.url}}

</div>